.cont {
    margin-bottom: 100px;
}
.part {
    width: 630px;
    height: 500px;
    overflow: hidden;
}
.title {
    color: #06bbcc;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-bottom: 25px;
}
.icons {
    color: #06bbcc;
}
.row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.stars {
    height: auto;
    min-height: 600px;
}
@media (max-width: 1200px) {
    .wrap {
        flex-wrap: wrap-reverse;
    }
}

