.blue {
    color: #06bbcc;
}
.item {
    background-color: #F0FBFC;
    width: 300px;
    margin-right: 20px;
}
/* .service {
    width: 100vw;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */
@media (max-width: 768px) {
    .item {
        margin-left: auto;
        margin-right: auto;
    }
}
