.image {
    width: 100px;
    height: 65px;
}
.background {
    background-color: #181d38;
    color: white;
    width: 100%;
    min-height: 350px;
    overflow-x: hidden;
    border-bottom: 0.2px solid grey;
}
.footer {
    background-color: #181d38;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 60px;
}
.list {
    list-style: none;
}
.list-item {
    margin-bottom: 7px;
}
.social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.gallery {
    width: 320px;
}
.letter {
    width: 300px;
}
.form {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input,
.form input:focus {
    border: none;
    outline: none;
    height: 50px;
}
.form button {
    height: 40px;
    background-color: #06bbcc;
    color: white;
    border: none
}
