.text {
    display: block;
    width: 85%;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bbb
}
.text::placeholder {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}