.left-part {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #06bbcc;
}
.active {
    color: #06bbcc;
}
.join {
    height: 75px;
    background-color: #06bbcc;
    width: 200px;
    color: white;
    margin-right: -10px;
    border-color: #06bbcc;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-mobile {
    background-color: #06bbcc;
    color: white;
}
.button {
    background-color: #06bbcc;
    color: white;
}
.button:hover,
.button:focus,
.button:active {
    outline: none;
    background-color: #06bbcc;
    color: white;
}
.dropdown-menu-custom {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dropcustom {
    margin: 50%;
    transform: translateX(-50%);
}
.profile {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.logout {
    font-size: 16px;
    margin-right: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    border: none;
}