.cont {
    background-color: #F0FBFC;
    width: 140px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}
.link {
    background-color: #06bbcc;
    width: 35px;
    height: 35px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
